/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [ID],[Name],[Position],[Office],[Age],[Salary],[Date]
FROM [testDB].[dbo].[final_data_table1]
ORDER BY [ID]

--delete from [testDB].[dbo].[final_data_table1]
--where ID=3

--select count(ID)
--From [testDB].[dbo].[final_data_table1]

/****** Script for SelectTopNRows command from SSMS  ******/
--SELECT * FROM [testDB].[dbo].[ping_table]
--ORDER BY [ID]